PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://geinomi_user:Geinomi12345@clustergeinomi.yqc9vdp.mongodb.net/geinomi_db?retryWrites=true&w=majority&appName=ClusterGeinomi
JWT_SECRET=geinomi_secret_key_demo
